// COLORS
$primary-color: #4caf50;
$primary-color-brigther: #4caf00;

$white-color: white;

$component-background-color: lightgray;

$disabled-background-color: gray;
$disabled-text-color: lightgray;

$error-background-color: red;

$background-overflow-color: rgba(255, 255, 255, 0.7);

// BORDERS
$border-radius: 4px;
$border-radius-top: 4px 4px 0 0;
